@charset "UTF-8" ;

/*
    Paletas de cores
    verde: #49a09d
    cor 1: #8E7D75
    cor 2: #4C3427
    cor 3: #725E51

*/

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    background-color:   #725E51 ;
    height: 100vh;
    width: 100vw;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;

    background-color: white;
    width: 250px;
    height: 500px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.450);

    transform: translate(-50%, -50%);
    transition: width .2s, height .2s;
    transition-timing-function: ease;
}

section#login > div#imagen {
    display: block;
    height: 200px;
    background: #725E51 url(../imagens/museu.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

section#login > div#formulario {
    display: block;
    padding: 10px;
}

div#formulario > h1 {
    text-align: center;
    margin-bottom: 10px;
    color: #312924;
}

div#formulario > p {
    font-size: 0.8em;
}

form > div.campo {
    display: block;
    background-color: #53453e;
    border: 2px solid #53453e;
    width: 99%;
    height: 42px;
    border-radius: 8px;
    margin: 5px 0px;
}

div.campo > label {
    display: none;
}

div.campo > span {
    color: white;
    /*background-color: black;*/
    font-size: 2em;
    width: 40px;
    padding: 5px;
}

div.campo > input {
    background-color: #d8b49a;
    font-size: 1em;
    width: calc(100% - 45px);
    height: 100%;
    border-radius: 8px;
    border: 0px;
    text-indent: 5px;
    transform: translateY(-12px);
}

div.campo > input:focus-within {
    background-color: white;
}

form > input[type=submit] {
    display: block;
    font-size: 1em;
    font-weight: bolder;
    width: 100%;    
    height: 40px;
    background-color: #9b816f;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form > input[type=submit]:hover {
    background-color: #725E51;
}

form > a.botao {
    display: block;
    text-align: center;
    font-size: 1em;
    padding-top: 7px;
    margin-top: 5px;
    height: 40px;
    background-color: white;
    color: #413630;
    border: 1px solid #9b816f;
    border-radius: 5px;
    text-decoration: none;

}

form > a.botao:hover {
    background-color: #caa890a2;
}

form > a.botao > span {
    font-size: 1em;
}

p#diogoutis {
    color: #312924;
    margin-top: 10px;
    text-align: center;
    font-weight: bolder;
    font-size: 0.8em;
    font-style: italic;
    vertical-align: bottom;
}